#loader {
    width: 200px;
    height: 200px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin-top: 15%;
  }
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
#cardBody{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#specCard{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 300px;
    list-style-type: none;
    margin: 5px;
    border: solid 2px #004A3F;
    border-radius: 7px;
    box-shadow: 0 10px 20px 0 #6AC65E;
    background-image: linear-gradient(-90deg, #98D753, #00ABD0);
    font-family: Andale Mono, monospace;
}

#btnBack{
    background-color: #00ABD0;
    border: solid 1px #004A3F;
    border-radius: 20px;
    margin-left: -35%;
    padding: 5px 10px;
    font-size: 15px;
    font-family: Andale Mono, monospace;
}

#btnBack:hover{
    background-color: #98D753;
    box-shadow: 0 5px 7px 0 #6AC65E;
}

#image{
    border: 1px solid #004A3F;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}