#eachCard{
    text-align: left;
    list-style-type: none;
    margin: 5px;
    border: 1px solid #004A3F;
    background-color: #00ABD0;
    border-radius: 7px;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2);
}
#eachCard:hover{
    background-color: #98D753;
    box-shadow: 0 5px 7px 0 #6AC65E;
}

.characters{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

#btnPrev{
    background-color: #00ABD0;
    border: solid 1px #004A3F;
    border-radius: 20px;
    float: left;
    margin-left: 130px;
    padding: 10px 20px;
    text-align: center;
    font-size: 15px;
    font-family: Andale Mono, monospace;
}
#btnNext{
    background-color: #00ABD0;
    border: solid 1px #004A3F;
    border-radius: 20px;
    float: right;
    margin-right: 90px;
    padding: 10px 20px;
    text-align: center;
    font-size: 15px;
    font-family: Andale Mono, monospace;
}

#btnNext:hover, #btnPrev:hover{
    background-color: #98D753;
    box-shadow: 0 5px 7px 0 #6AC65E;
}

#searchBar{
    width: 180px;
    margin-left: 3%;
    box-sizing: border-box;
    border: 2px solid #004A3F;
    border-radius: 7px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 6px 10px 6px 20px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    font-family: Andale Mono, monospace;
    box-shadow: 0 5px 7px 0 #6AC65E;
}

#searchBar:focus{
    width: 30%;
    
}
