.image{
    width: 250px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}
.link{
    text-decoration: none;
}
.name{
    color: black;
    font-size: 12px;
    font-family: Andale Mono, monospace;
    padding-left: 3px;
}